/* line 5, /home/blind/light/app/assets/stylesheets/entries.scss */
.entry {
  margin: 15px;
  padding: 15px;
  padding-left: 100px;
}

/* line 13, /home/blind/light/app/assets/stylesheets/entries.scss */
.entry-title {
  font-size: x-large;
  margin-left: 3px;
  font-weight: bold;
}

/* line 19, /home/blind/light/app/assets/stylesheets/entries.scss */
.entry-info {
  font-style: italic;
  margin-left: 5px;
}

/* line 24, /home/blind/light/app/assets/stylesheets/entries.scss */
.entry-text {
  padding-top: 5px;
}
/* line 5, /home/blind/light/app/assets/stylesheets/home.scss */
.red-icon {
  color: #CC2131;
}
/* line 1, /home/blind/light/app/assets/stylesheets/main.css.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 6, /home/blind/light/app/assets/stylesheets/main.css.scss */
body {
  margin-bottom: 40px;
}

/* line 10, /home/blind/light/app/assets/stylesheets/main.css.scss */
.main {
  margin-bottom: 40px;
}

/* line 14, /home/blind/light/app/assets/stylesheets/main.css.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #9d9d9d;
  padding-top: 10px;
  height: 40px;
  background-color: #222222;
}
/* line 5, /home/blind/light/app/assets/stylesheets/videos.scss */
.filtering {
  border: solid 1px;
  padding: 20px;
}

/* line 14, /home/blind/light/app/assets/stylesheets/videos.scss */
.video-title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* line 21, /home/blind/light/app/assets/stylesheets/videos.scss */
.red-border {
  border: dotted 20px #CC2131;
}

/* line 25, /home/blind/light/app/assets/stylesheets/videos.scss */
.video-description {
  margin-top: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
