.voffset
  .col-md-3
    .filtering
      Sortowanie
  .col-md-8
    - @videos.each do |v|
      .video-thumb.col-md-4
        .text-center
          = link_to image_tag(v.source.thumb), video_path(v.id)
        .text-center.thumb-title
          = v.title
