.jumbotron
  .row
    %h1.text-center Witaj w świecie zapalniczek
  .row
    .col-md-3
      =image_tag "zapalniczka_zippo.png"
    .col-md-8.text-center
      %p 
        Jest to strona poświęcona wszelako pojętym zapalniczkom. Treści jakie są zamieszczone na stronie to w głównej mierze filmiki obrazujące tricki wykorzystujące zapalniczki oraz prezentacje ciekawych modeli zapalniczek. Dodatkowo dostępna jest również galeria która zawiera zdjęcia autentycznych zapalniczek jak i też różnego rodzaju grafik. Sekcja która będzie ciągle rozwijana to Tutoriale gdzie będą umieszczane filmiki instruktarzowe jak wykonywać konkretne tricki.
