#accordion.panel-group{role: 'tablist', "aria-multiselectable": false}
  .panel.panel-default
    - (1..5).each do |i|
      %div{id: "heading" + i.to_s, class: 'panel-heading', role: 'tab'}     
        %h4.panel-title.text-center
          %a{"data-toggle": "collapse", "data-parent": "#accordion", href: "#level" + i.to_s, "aria-controls": "level" + i.to_s}= t('tutorials.level') + " #{i}"
      %div{id: "level" + i.to_s, class: "panel-collapse collapse #{'in' if i == 1}", role: "tabpanel", "aria-labelledby": "heading" + i.to_s}
        .listGroup
          - Tutorial.level(i).each do |tutorial|
            = link_to tutorial.title, tutorial_path(tutorial), class: "list-group-item"
