// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry {
  margin: 15px;
  padding: 15px;
  padding-left: 100px;
  // border: 2px solid #222222;
  // border-radius: 15px;
}

.entry-title {
  font-size: x-large;
  margin-left: 3px;
  font-weight: bold;
}

.entry-info {
  font-style: italic;
  margin-left: 5px;
}

.entry-text {
  // font-size: large;
  padding-top: 5px;
}

.red-square {
    background-color: #f00;
    display: block;
    height: 10px;
    width: 10px;
}