html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

a:link {
    color: #222222;
}

a:visited {
    color: #222222;
}

a:hover , a:focus{
    color: #CC2131 !important;
    text-decoration: none !important;
}

a:active {
    color: #222222;
}

.main {
  padding-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #9d9d9d;
  padding-top: 10px;
  height: 40px;
  background-color: #222222;
}

.avatar-frame, .avatar-frame img{
  position: absolute;
  z-index: 1;
  left: -28px;
  top: 6px;
  width: 38px;
  height: 38px;
  -webkit-border-radius: 30px; /* Saf3+, Chrome */
  border-radius: 30px; /* Opera 10.5, IE 9 */
  -moz-border-radius: 30px; /* FF1+ */
}

#search-field {
  width: 0px;
  display: none;
}

.admin-link {
  font-size: 28px;
  font-weight: bold;
  font-family: "Times New Roman";
}

.dropdown-menu.dropdown-lang {
    min-width: 30px !important;
}

.pagi {
  
}