html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

a:link {
    color: black;
}

a:visited {
    color: #111111;
}

a:hover , a:focus{
    color: #CC2131 !important;
    text-decoration: none !important;
}

a:active {
    color: black;
}

.main {
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #9d9d9d;
  padding-top: 10px;
  height: 40px;
  background-color: #222222;
}

