// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filtering {
  border: solid 1px;
  padding: 20px;
}

.video-thumb {
  // width: 200px;
}

.video-title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

.red-border {
  border: dotted 20px #CC2131;
}

.video-description {
  margin-top: 10px
}