- if current_user.admin?
  = render "images/new"

%nav#page-nav
  = link_to "NEXT", images_path(page: @page), style: 'display: none'

#masonry-container.transitions-enabled.centered.infinite-scroll.clearfix
  #images
    = render @images

